<div class="icon text-center">
  <i {{bind-attr class=":fa notificationIcon"}}></i>
</div>
<div class="content text-small">
  {{notification.message}}
</div>
{{#unless notification.autoClear}}
  <span class="close" {{action "removeNotification"}}>
    <i class="fa fa-times"></i>
  </span>
{{/unless}}
