{{#each releases}}
x.x.x / {{isoDate}}
==================
  {{#if merges}}
    {{#each merges}}
      * {{#if commit.breaking}}**Breaking change:** {{/if}}{{message}} #{{id}} from @{{githubIssue.user.login}}
    {{/each}}
  {{/if}}
{{/each}}
