/* Values */
.ecn_notification {
  position: relative;
  max-height: var(--ecn-notification-max-height);
  color: white;
  border-radius: var(--ecn-notification-border-radius);
  box-shadow: 0 3px 12px -4px rgba(20,20,20,0.5), 0 2px 2px 0 rgba(20,20,20,0.08);
  font-size: 1em;
  line-height: 1.5em;
  animation: var(--ecn-animation-out);
  animation-fill-mode: forwards;
}

.ecn_notification + .ecn_notification {
  margin-top: var(--ecn-spacing-2);
}

.ecn_notification-info {
  background-color: var(--ecn-info-background);
  color: var(--ecn-info-text);
}

.ecn_notification-success {
  background-color: var(--ecn-success-background);
  color: var(--ecn-success-text);
}

.ecn_notification-warning {
  background-color: var(--ecn-warning-background);
  color: var(--ecn-warning-text);
}

.ecn_notification-error {
  background-color: var(--ecn-error-background);
  color: var(--ecn-error-text);
}

.ecn_notification.ecn_notification-in {
  animation: var(--ecn-animation-in);
}

.ecn_notification_body {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
}

.ecn_content {
  flex: 1 1 auto;
  padding: var(--ecn-spacing-1) var(--ecn-spacing-2);
  word-break: break-word;
  vertical-align: middle;
}

.ecn_content a {
  color: currentColor;
  text-decoration: underline;
  font-weight: 700;
}

.ecn_icon {
  display: flex;
  flex-flow: column;
  flex: none;
  padding: var(--ecn-spacing-1);
  opacity: var(--ecn-icon-opacity, 1);
}

.ecn_icon-type {
  background-color: var(--ecn-icon-lighten-background);
  color: var(--ecn-icon-color, inherit);
}

.ecn_icon svg {
  display: block;
  height: 1.5em;
}

.ecn_icon-close {
  margin: 0 0 0 var(--ecn-spacing-2);
  padding: var(--ecn-spacing-1);
  background: transparent;
  color: inherit;
  border: 0;
  border-radius: 0;
  font-size: inherit;
  line-height: inherit;
  appearance: none;
  cursor: pointer;
  transition: 0.2s opacity ease;
}

.ecn_icon-close:hover,
.ecn_icon-close:focus {
  opacity: 1;
}

.ecn_countdown {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--ecn-countdown-lighten-background);
  width: 0;
  height: 4px;
  animation: notification-countdown linear 1;
}
