/* Values */
.ecn_container .ecn_notification {
  display: flex;
  align-items: stretch;
  position: relative;
  overflow: hidden;
  border-radius: var(--ecn-notification-border-radius);
  border-bottom: 1rem;
  color: white;
  max-height: var(--ecn-notification-max-height);
  animation: notification-hide var(--ecn-animation-out-duration) cubic-bezier(.33859, -.42, 1, -.22), notification-shrink var(--ecn-animation-out-duration) var(--ecn-animation-out-duration) cubic-bezier(.5, 0, 0, 1);
  animation-fill-mode: forwards;
  margin-bottom: var(--ecn-spacing-2);
  font-size: var(--ecn-spacing-2);
  line-height: 1.5;
  box-shadow: 0 3px 12px -4px rgba(20,20,20,0.5), 0 2px 2px 0 rgba(20,20,20,0.08);
}

.ecn_container .ecn_notification-clickable {
  cursor: pointer;
}

.ecn_container .ecn_notification-in {
  animation: notification-show var(--ecn-animation-in-duration) cubic-bezier(.175, .885, .32, 1.27499);
}

.ecn_container .ecn_notification_content {
  display: block;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  padding: var(--ecn-spacing-1) var(--ecn-spacing-2);
  word-break: break-word;
  border: 0;
  -webkit-apperance: none;
  -moz-apperance: none;
  apperance: none;
  text-align: left;
  background: transparent;
  border-radius: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.ecn_container .ecn_notification_content a {
  color: #fff;
  text-decoration: underline;
}

.ecn_container .ecn_notification_icon,
.ecn_container .ecn_notification_close {
  display: flex;
  align-items: top;
  padding: var(--ecn-spacing-1);
  flex: none;
  text-align: center;
}

.ecn_container .ecn_notification_icon {
  background-color: var(--ecn-icon-lighten-background);
  color: var(--ecn-icon-color);
  opacity: var(--ecn-icon-opacity);
}

.ecn_container .ecn_notification_icon svg,
.ecn_container .ecn_notification_close svg {
  margin: calc(var(--ecn-spacing-1) / 2) auto;
  width: var(--ecn-spacing-2);
  height: auto;
}

.ecn_container .ecn_notification_close {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: var(--ecn-close-color);
  opacity: var(--ecn-close-opacity);
}

.ecn_container .ecn_notification_close:hover,
.ecn_container .ecn_notification_close:focus {
  opacity: 1;
}

.ecn_container .ecn_notification_countdown {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--ecn-countdown-lighten-background);
  width: 0;
  height: 4px;
  animation: notification-countdown linear 1;
}

/* Theme */
.ecn_container .ecn_notification-info {
  background-color: var(--ecn-background-info);
  color: var(--ecn-text-info);
}

.ecn_container .ecn_notification-success {
  background-color: var(--ecn-background-success);
  color: var(--ecn-text-success);
}

.ecn_container .ecn_notification-warning {
  background-color: var(--ecn-background-warning);
  color: var(--ecn-text-warning);
}

.ecn_container .ecn_notification-error {
  background-color: var(--ecn-background-error);
  color: var(--ecn-text-error);
}

/* Keyframes */
@keyframes notification-show {
  0% {
    opacity: 0;
    transform: perspective(450px) translate(0, -30px) rotateX(90deg);
    box-shadow: 0 0 0 0 rgba(20,20,20,0.5), 0 2px 2px 0 rgba(20,20,20,0.08);

  }

  100% {
    opacity: 1;
    transform: perspective(450px) translate(0, 0) rotateX(0deg);
    box-shadow: 0 3px 12px -4px rgba(20,20,20,0.5), 0 2px 2px 0 rgba(20,20,20,0.08);
  }
}

@keyframes notification-shrink {
  0% {
    opacity: 0;
    max-height: var(--ecn-notification-max-height);
    transform: scale(.8);
  }

  100% {
    opacity: 0;
    max-height: 0;
    transform: scale(.8);
  }
}

@keyframes notification-hide {
  0% {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 3px 12px -4px rgba(20,20,20,0.5), 0 2px 2px 0 rgba(20,20,20,0.08);
  }

  100% {
    opacity: 0;
    transform: scale(.8);
    box-shadow: 0 0 0 0 rgba(20,20,20,0.5), 0 2px 2px 0 rgba(20,20,20,0.08);
  }
}

@keyframes notification-countdown {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
