//
// Alerts
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.alert {
    padding: $alert-padding;
    margin-bottom: $line-height-computed;
    border: {
      width: 1px;
      style: solid;
      color: transparent;
      radius: $alert-border-radius;
    }

    h4 {
      margin-top: 0;
      color: inherit;
    }

    a,
    .alert-link {
      text-decoration: underline;
    }

    > p,
    > ul {
      margin-bottom: 0;
    }

    > p + p {
      margin-top: 5px;
    }
}


// Dismissable
// --------------------------------------------------

.alert.dismissable {
    padding-right: ($alert-padding + 20);

    .close {
      position: relative;
      top: -2px;
      right: -21px;
      color: inherit;
    }
}


// Alert themes
// --------------------------------------------------

.alert.success {
  @include alert-theme($alert-success-bg, $alert-success-border, $alert-success-text);
}
.alert.info {
  @include alert-theme($alert-info-bg, $alert-info-border, $alert-info-text);
}
.alert.warning {
  @include alert-theme($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}
.alert.error {
  @include alert-theme($alert-error-bg, $alert-error-border, $alert-error-text);
}
