//
// Notification component
// --------------------------------------------------


// Comtainer that houses the notification messages
.notifications-container {
  position: fixed;
  top: 10px;
  right: 0;
  left: 0;
  z-index: $notification-zindex;
  width: $notification-width;
  max-width: $notification-max-width;
  margin: auto;
}


// Base notification
// -------------------------

.#{$notification-css-prefix} {
  font: #{$notification-font-size} #{$notification-font-family};
  position: relative;
  overflow: hidden;
  border-radius: $notification-border-radius;
  margin-bottom: $notification-spacing;
  max-height: $notification-max-height;
  color: #fff;
  animation-fill-mode: forwards;
  animation: #{$notification-css-prefix}-hide 250ms cubic-bezier(.33859, -.42, 1, -.22), #{$notification-css-prefix}-shrink 250ms 250ms cubic-bezier(.5, 0, 0, 1);

  // Animate show
  &.in { animation: #{$notification-css-prefix}-show 180ms cubic-bezier(.175, .885, .32, 1.27499); }
}


// Base notification
// -------------------------
.#{$notification-css-prefix}-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: $notification-icon-width;
  color: $notification-icon-color;
  text-align: center;

  span {
    position: relative;
    top: $notification-icon-position;
  }
}

.#{$notification-css-prefix}-content {
  padding: {
    top: $notification-padding;
    bottom: $notification-padding;
    left: $notification-icon-width + 10;
  }

  // Allow space for close icon
  &.dismissable { padding-right: $notification-icon-width; }
}

.#{$notification-css-prefix}-close {
  position: absolute;
  top: $notification-icon-position;
  right: $notification-icon-position;
  opacity: .3;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
  }
}


// Auto clear countdown
// -------------------------

.#{$notification-css-prefix}-countdown {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 4px;
  animation: #{$notification-css-prefix}-countdown linear 1;
}


// Notification themes
// --------------------------------------------------

.#{$notification-css-prefix}.info {
  @include notification-theme($notification-info-bg, $notification-info-alt);
}
.#{$notification-css-prefix}.success {
  @include notification-theme($notification-success-bg, $notification-success-alt);
}
.#{$notification-css-prefix}.error {
  @include notification-theme($notification-error-bg, $notification-error-alt);
}
.#{$notification-css-prefix}.warning {
  @include notification-theme($notification-warning-bg, $notification-warning-alt);
}
