//
// Notification keyframes
// --------------------------------------------------


// Show keyframes
// -------------------------

@keyframes notification-show {
  0% {
    opacity: 0;
    transform: perspective(450px) translate(0, -30px) rotateX(90deg);
  }

  100% {
    opacity: 1;
    transform: perspective(450px) translate(0, 0) rotateX(0deg);
  }
}


// Shrink keyframes
// -------------------------

@keyframes notification-shrink {
  0% {
    opacity: 0;
    max-height: $notification-max-height;
    margin-bottom: $notification-spacing;
    transform: scale(.8);
  }

  100% {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    transform: scale(.8);
  }
}


// Hide keyframes
// -------------------------

@keyframes notification-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(.8);
  }
}


// Countdown keyframes
// -------------------------

@keyframes notification-countdown {
  0% {
    opacity: 1;
    width: 100%;
  }

  100% {
    opacity: 0;
    width: 0%;
  }
}
