//
// Notification mixins
// --------------------------------------------------


@mixin notification-theme($background, $alt) {
  background-color: $background;

  .#{$notification-css-prefix}-icon { background-color: $alt; }

  .#{$notification-css-prefix}-countdown { background-color: lighten($background,10%); }

  .#{$notification-css-prefix}-close { color: $alt; }
}
