//
// Notification mixins
// --------------------------------------------------


@mixin notification-theme($background, $alt) {
  background-color: $background;

  .#{$notification-css-prefix}__icon { background-color: $alt; }

  .#{$notification-css-prefix}__countdown { background-color: lighten($background,10%); }

  .#{$notification-css-prefix}__close { color: $alt; }
}

@mixin container-position($right, $left, $top: auto, $bottom: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
