//
// Notification variables
// --------------------------------------------------


// Notification base
// -------------------------

$notification-css-prefix:                  'notification' !default;

$notification-font-family:                 "Helvetica", sans-serif;
$notification-font-size:                   14px !default;

$notification-zindex:                      1060 !default;
$notification-border-radius:               4px !default;
$notification-padding:                     10px !default;
$notification-spacing:                     2px !default;

$notification-width:                       80% !default;
$notification-max-width:                   400px !default;
$notification-max-height:                  800px !default;

$notification-icon-width:                  30px !default;
$notification-icon-position:               $notification-padding !default;
$notification-icon-color:                  rgba(#fff,.74) !default;


// Notification themes
// -------------------------

// Success notification
$notification-success-bg:                  #64ce83 !default;
$notification-success-alt:                 darken(desaturate($notification-success-bg, 5), 15) !default;

// Neutral notification
$notification-info-bg:                     #3ea2ff !default;
$notification-info-alt:                    darken(desaturate($notification-info-bg, 5), 15) !default;

// Warning notification
$notification-warning-bg:                  #ff7f48 !default;
$notification-warning-alt:                 darken(desaturate($notification-warning-bg, 5), 15) !default;

// Error notification
$notification-error-bg:                    #e74c3c !default;
$notification-error-alt:                   darken(desaturate($notification-error-bg, 5), 15) !default;
