/* stylelint-disable import-notation */
@import "prebuilt.css";

.field-guide-wrapper .field-guide-sidenav,
.field-guide-show-sidenav {
  display: none;
}

.field-guide-wrapper-full-height > main {
  margin: 0;
  padding: 0;
}

.field-guide-footer {
  margin-left: 0;
}
