<div
  class="ember-cli-notifications-notification__container {{this.positionClass}}"
  style={{this.inlineStyle}}
  data-test-notification-container={{this.position}}
>
  {{#each this.notifications.content as |notification|}}
    <NotificationMessage @notification={{notification}} />
  {{/each}}
</div>