<div
  class="ecn_container ecn_container-{{this.position}}"
  data-test-notification-container={{this.position}}
>
  {{#each this.notifications.content as |notification|}}
    <NotificationMessage @notification={{notification}} />
  {{/each}}
</div>