name: CI

on:
  push:
    branches:
      - master
      - main
      - "v*"
  pull_request:
  schedule:
    - cron: '0 3 * * *' # daily, at 3am

env:
  FORCE_COLOR: 1

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 8.x

      - run: npm ci
      - run: npm run lint:hbs
      - run: npm run lint:js

  test:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
        with:
          node-version: 8.x

      - run: npm ci
      - run: npm test

  floating-dependencies:
    name: Floating Dependencies
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
        with:
          node-version: 8.x

      - run: npm install --no-package-lock
      - run: npm test

  try-scenarios:
    name: "ember-try: ${{ matrix.ember-try-scenario }}"
    runs-on: ubuntu-latest
    needs: test

    strategy:
      matrix:
        ember-try-scenario:
          - ember-lts-2.18
          - ember-lts-3.4
          - ember-lts-3.8
          - ember-lts-3.12
          - ember-release
          - ember-beta
          - ember-default-with-jquery
          - ember-classic

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
        with:
          node-version: 8.x

      - run: npm ci

      - name: test
        run: node_modules/.bin/ember try:one ${{ matrix.ember-try-scenario }} --skip-cleanup
